$color-base:#000000;
$color-second: #444444;
$decor-color: #63d1bb;
$hover-color: #62d1ba;
$mobile-width: 320px;
$desktop-width: 1150px;
$tablet: 768px;

@mixin font-title($fs: 17px, $lh: 24px, $fw: 700) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
